
body {
  background-color: #003721;

}
h1 {
  font-size: 67px;
  font-style: italic;
  font-family: sans-serif;
  color: #f45621;
}
 ul {
   color: purple;
   font-style: normal;
   font-family: fantasy;
   font-size: 56px
 }
 p {
   color: yellow;
 }
 
